In [21]:
import ssl

import numpy as np
import pandas as pd
import tensorflow as tf
from   tensorflow.keras import Input, Model, Sequential
from   tensorflow.keras.layers import Dense, Normalization
from   tensorflow.keras.losses import MeanSquaredError
from   tensorflow.keras.optimizers import Adam

In [2]:
np.set_printoptions(precision=3, suppress=True)
ssl._create_default_https_context = ssl._create_unverified_context

In [3]:
abalone_train = pd.read_csv(
    'https://storage.googleapis.com/download.tensorflow.org/data/'
    'abalone_train.csv',
    names=['Length', 'Diameter', 'Height', 'Whole weight', 
           'shucked weight', 'Viscera weight', 'Shell weight', 'Age'])
abalone_train.head()

,Length,Diameter,Height,Whole weight,shucked weight,Viscera weight,Shell weight,Age
0,0.435,0.335,0.110,0.334,0.1355,0.0775,0.0965,7
1,0.585,0.450,0.125,0.874,0.3545,0.2075,0.2250,6
2,0.655,0.510,0.160,1.092,0.3960,0.2825,0.3700,14
3,0.545,0.425,0.125,0.768,0.2940,0.1495,0.2600,16
4,0.545,0.420,0.130,0.879,0.3740,0.1695,0.2300,13

In [4]:
abalone_features = abalone_train.copy()
abalone_labels = abalone_features.pop('Age')
abalone_features = np.array(abalone_features)
abalone_features

array([[0.435, 0.335, 0.11 , ..., 0.136, 0.077, 0.097],
       [0.585, 0.45 , 0.125, ..., 0.354, 0.207, 0.225],
       [0.655, 0.51 , 0.16 , ..., 0.396, 0.282, 0.37 ],
       ...,
       [0.53 , 0.42 , 0.13 , ..., 0.374, 0.167, 0.249],
       [0.395, 0.315, 0.105, ..., 0.118, 0.091, 0.119],
       [0.45 , 0.355, 0.12 , ..., 0.115, 0.067, 0.16 ]])

In [5]:
abalone_model = Sequential([Dense(64), Dense(1)])
abalone_model.compile(loss=MeanSquaredError(), optimizer=Adam())
abalone_model.fit(abalone_features, abalone_labels, epochs=10)

Epoch 1/10
104/104 [==============================] - 0s 522us/step - loss: 70.8869
Epoch 2/10
104/104 [==============================] - 0s 455us/step - loss: 13.1600
Epoch 3/10
104/104 [==============================] - 0s 458us/step - loss: 8.6565
Epoch 4/10
104/104 [==============================] - 0s 456us/step - loss: 8.1850
Epoch 5/10
104/104 [==============================] - 0s 457us/step - loss: 7.7691
Epoch 6/10
104/104 [==============================] - 0s 511us/step - loss: 7.4167
Epoch 7/10
104/104 [==============================] - 0s 507us/step - loss: 7.1453
Epoch 8/10
104/104 [==============================] - 0s 450us/step - loss: 6.9334
Epoch 9/10
104/104 [==============================] - 0s 466us/step - loss: 6.7920
Epoch 10/10
104/104 [==============================] - 0s 473us/step - loss: 6.6658

In [7]:
normalize = Normalization()
normalize.adapt(abalone_features)

In [15]:
norm_mod = Sequential([normalize, Dense(64), Dense(1)])
norm_mod.compile(loss=MeanSquaredError(), optimizer=Adam())
norm_mod.fit(abalone_features, abalone_labels, epochs=10)

Epoch 1/10
104/104 [==============================] - 0s 518us/step - loss: 94.3761
Epoch 2/10
104/104 [==============================] - 0s 474us/step - loss: 57.2100
Epoch 3/10
104/104 [==============================] - 0s 494us/step - loss: 19.1503
Epoch 4/10
104/104 [==============================] - 0s 500us/step - loss: 6.4535
Epoch 5/10
104/104 [==============================] - 0s 495us/step - loss: 5.1921
Epoch 6/10
104/104 [==============================] - 0s 474us/step - loss: 5.0564
Epoch 7/10
104/104 [==============================] - 0s 460us/step - loss: 4.9579
Epoch 8/10
104/104 [==============================] - 0s 474us/step - loss: 4.9167
Epoch 9/10
104/104 [==============================] - 0s 464us/step - loss: 4.9106
Epoch 10/10
104/104 [==============================] - 0s 470us/step - loss: 4.9246

In [16]:
titanic = pd.read_csv(
    'https://storage.googleapis.com/tf-datasets/titanic/train.csv')
titanic.head()

,survived,sex,age,n_siblings_spouses,parch,fare,class,deck,embark_town,alone
0,0,male,22.0,1,0,7.2500,Third,unknown,Southampton,n
1,1,female,38.0,1,0,71.2833,First,C,Cherbourg,n
2,1,female,26.0,0,0,7.9250,Third,unknown,Southampton,y
3,1,female,35.0,1,0,53.1000,First,C,Southampton,n
4,0,male,28.0,0,0,8.4583,Third,unknown,Queenstown,y

In [17]:
titanic_features = titanic.copy()
titanic_labels = titanic_features.pop('survived')

In [20]:
input = Input(shape=(), dtype=tf.float32)
res = 2*input + 1
res

In [22]:
calc = Model(inputs=input, outputs=res)
calc(3).numpy()

7.0

In [ ]:
inputs = {}